/* INDEX PAGE */
#index-wrapper{
  background-image: url("/assets/Index-background.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 70px;
  padding: 20px;
  font-weight: bold;
}

nav li a button{
  height: 50px;
  width: 200px;
  border-radius: 20px;
}

#img_container{
  display: flex;
  justify-content: center;
  height: 500px;
}

#img_container img {
  padding: 40px 0px;
  border-radius: 100px;
}

#text_box {
  width: 600px;
  height: 30px;
  font-size: 20px;
}

#form_robot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form_robot h2 {
  font-size: 50px;
  padding: 0px 0px 20px;
}

#form_robot form {
  display: flex;
  flex-direction: column;
}


#form_robot form input {
  height: 30px;
}

#submission {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#submission a {
  padding: 20px 20px;
}

#robot_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 30px 100px;
}

#robot_info p {
  padding: 20px 20px;
  font-weight: bold;
  border-radius: 15px;
  background-image: radial-gradient(rgb(163, 197, 200), rgb(15, 144, 219));
}

#robot_info img {
  height: 200px;
  border-radius: 25px;
  padding: 0px 20px;

}

#left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
}


#right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
}


/* zachRobot */

#playlist_wrapper{
  background-image: url("/assets/playlist-banner.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

#robo {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

#d {
  display: flex;
  justify-content: center;
  height: 700px;
}


#robo_playlist {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#robo_playlist form input {
 padding: 0px 20px;
 font-size: 25px;
}

#robo_playlist a button {
  padding: 0px 20px;
  font-size: 25px;
}

/* playlist */
#music_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#Robo-Talk div {
  display: flex;
  justify-content: center;
  background-image: url("/assets/about-us-background.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  font-weight: bold;
  border-radius: 25px;
  text-shadow: 2px 3px white;
  opacity: 0.75;
  text-emphasis-color: black;
}

iframe {
  font-size: 30px;
}

/* About Us */
#about-us-wrapper{
  background-image: url("/assets/name-tag.jpeg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

#about_profile div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
  margin: 25px 300px;
}

#about_profile img {
  padding: 0px 15px;
}

#about_profile article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px 300px;
}

#contact {
  height: 100px;
}

#profile_pic {
  height: 250px;
  border-radius: 25px;
}

#about_profile div p {
border-radius: 25px;
background-image: linear-gradient(rgb(134, 169, 190), rgb(58, 86, 144));
border: 5px solid black;
opacity: 0.75;
padding: 20px;
font-weight: bold;
}

#nametag {
  background-image: url("/assets/about-us-background.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  font-weight: bold;
  width: 600px;
  border-radius: 25px;
  text-shadow: 2px 3px white;
  opacity: 0.75;
  text-emphasis-color: black;
  }

#contact {
  border-radius: 40px;
}