<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
</head>
<body>
  
  <nav>
    <h1>About Us</h1>
    <ul>
      <li><a href="/"><button>link to home</button></a></li>
      <li><a href="/auth/spotify"><button>Login with Spotify</button></a></li>
      <li><a href='/aboutUs'><button>About Us</button></a> </li>
    </ul>
  </nav>

  <div id="about-us-wrapper">
    <div id="img_container">
      <img src='assets/robo-container.jpg'>
  </div>

  <section id='about_profile'>

    <div id="nametag"> <h2>Chase McFaddin</h2></div>
    <div>
      <img id='profile_pic' src="assets/chase-profile.jpg" id='chase'>
      <p>
        My name is Chase McFaddin. I’m a software developer from Myrtle Beach, SC with over a decade worth of sales experience. I’ve sold everything from cell phones, pest control, and even fantasy football drafting services. I first became interested in software development after putting together my own website and podcast. I’ve recently moved across the country to the outside Seattle area in order to attend Code Fellows and begin my journey of software development.
      </p>
    </div>
    <article>
      <a href='https://www.linkedin.com/in/chase-mcfaddin/'><img id="contact" src="assets/linkedin.png"></a>
      <a href='https://github.com/ChaseMcFaddin'><img id="contact" src="assets/github.png"></a>
    </article>


    <div id="nametag"> <h2>Paulo P. Martin</h2> </div>
    <div>
      <img id="profile_pic" src="assets/paulo_profile.png"> 
      <p>
        Hiya! My name is Paulo P. Martin I’m a veteran environmentalist, bitcoiner and machine learning enthusiast. I’m a software developer from the Fresno, Ca originally coming from Naga City, Philippines. My professional background spans from mesh-networking start-ups and bitcoin trading in the Philippines, working as a crew manager build stages at festivals, working press at Humboldt radio stations, and even to working and maintain an armory in Camp Casey, South Korea near the border. I was originally going to school for environmental engineering and wanted to use my equations I learned to impact the world. So I decided during the pandemic to put down school for now and dive head first in the world of Machine Learning. I hope to use my new found skills in tensorflow to create an environmental clean future one line of code at a time.
      </p>
    </div>
    <article>
      <a href='https://www.linkedin.com/in/paulo-martin90'><img id="contact" src="assets/linkedin.png"></a>
      <a href='https://github.com/PauloMartin90'><img id="contact" src="assets/github.png"></a>

    </article>


    <div id="nametag"><h2>Zach Hornung</h2> </div>
    <div>
      <img id="profile_pic" src="assets/zach-profile.jpg">
      <p>
        I’m Zach, I’m a software developer from Seattle, WA. I graduated from Western Washington University with a bachelor’s degree in political science, and philosophy. I have experience with warehousing, lean manufacturing, and most recently I worked as an oyster farmer. I love problem solving, and I have a passion for Artificial Intelligence. With software development I have found a field with never ending problems to solve, and I’m looking forward to seeing what the future holds.
      </p>
    </div>
    <article>
      <a href='https://www.linkedin.com/in/zach-hornung/'><img id="contact" src="assets/linkedin.png"></a>
      <a href='https://github.com/zachhornung'><img id="contact" src="assets/github.png"></a>
    </article>

  </section>
</body>
</html>