<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
</head>
<body>
  <h1>About Us</h1>
  <nav>
    <ul>
      <li><a href="/">link to home</a></li>
    </ul>
  </nav>
  <section id='about_profile'>

    <h2>Chase</h2>
    <div>
      <img src="assets/chase-profile.jpg" id='chase'>
      <p>
        My name is Chase McFaddin. I’m a software developer from Myrtle Beach, SC with over a decade worth of sales experience. I’ve sold everything from cell phones, pest control, and even fantasy football drafting services. I first became interested in software development after putting together my own website and podcast. I’ve recently moved across the country to the outside Seattle area in order to attend Code Fellows and begin my journey of software development.
      </p>
    </div>
    <article>
      <img src="https://via.placeholder.com/75">
      <img src="https://via.placeholder.com/75">
      <img src="https://via.placeholder.com/75">
    </article>


    <h2>Paulo</h2>
    <div>
      <img src="https://via.placeholder.com/200" id='paulo'>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <article>
      <img src="https://via.placeholder.com/75">
      <img src="https://via.placeholder.com/75">
      <img src="https://via.placeholder.com/75">
    </article>


    <h2>Zach</h2>
    <div>
      <img src="https://via.placeholder.com/200" id='zach'>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <article>
      <img src="https://via.placeholder.com/75">
      <img src="https://via.placeholder.com/75">
      <img src="https://via.placeholder.com/75">
    </article>

  </section>
</body>
</html>