<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
  <title>Homepage</title>
</head>
<body>
  <div id='index-wrapper'>
    

    <nav>
      <h1>Hello! Welcome to Interactive Epoch.</h1>
      <h1>I'm Robo Your Playlist Guru</h1>
    <ul>
      <li><a href='/aboutUs'><button>About Us</button></a> </li>
      <li><a href="/auth/spotify"><button>Login with Spotify</button></a></li>
    </ul>
  </nav>

    <div id='img_container'>
      <img src='assets/robot_banner.jpg'>
    </div>

    <div id='form_robot'>
      <h2>Hi my name is Robo! How was your day?</h2>
      <form action='/robotPost' method='POST'>
        <input type='text' name='emotion'>
        <input type='submit' value='Submit'>
      </form>
    </div>
    
    <section id="robot_info">
      <div id="right">
        <img src="assets/network.jpg"> 
        <p> 
          <a href='https://www.ibm.com/cloud/learn/recurrent-neural-networks'>An Article from IMB</a> references that a recurrent neural network (RNN) is a type of artificial neural network which uses sequential data or time series data. These deep learning algorithms are commonly used for ordinal or temporal problems, such as language translation, natural language processing (nlp), speech recognition, and image captioning; they are incorporated into popular applications such as Siri, voice search, and Google Translate. Like feedforward and convolutional neural networks (CNNs), recurrent neural networks utilize training data to learn. They are distinguished by their “memory” as they take information from prior inputs to influence the current input and output. While traditional deep neural networks assume that inputs and outputs are independent of each other, the output of recurrent neural networks depend on the prior elements within the sequence.
        </p>
      
      </div>
      
      <div id="line-break"></div>
      
      <div id="left">
        <p>
          <a href='https://towardsdatascience.com/understanding-neural-networks-19020b758230'>Towards Data Science -</a> What exactly is a neural network trying to do? Like any other model, it’s trying to make a good prediction. We have a set of inputs and a set of target values — and we are trying to get predictions that match those target values as closely as possible.
        </p>
        <img src="assets/brain.png">
      </div>

      <div id="line-break"></div>

      <div id="right">
        <img src="assets/RRN.png"> 
        <p>
          <a href='https://wiki.pathmind.com/neural-network'> Wiki Pathmind - </a>
          Neural networks are a set of algorithms, modeled loosely after the human brain, that are designed to recognize patterns. They interpret sensory data through a kind of machine perception, labeling or clustering raw input. The patterns they recognize are numerical, contained in vectors, into which all real-world data, be it images, sound, text or time series, must be translated.
          Neural networks help us cluster and classify. You can think of them as a clustering and classification layer on top of the data you store and manage. They help to group unlabeled data according to similarities among the example inputs, and they classify data when they have a labeled dataset to train on. (Neural networks can also extract features that are fed to other algorithms for clustering and classification; so you can think of deep neural networks as components of larger machine-learning applications involving algorithms for reinforcement learning, classification and regression.)
        </p>
      </div>

  </section>

</div>
</body>
</html>