<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
  <title>Document</title>
</head>
<body>
  <h1>Hello! Welcome to our music app.</h1>
  <img src='https://via.placeholder.com/350x150'>
  <h2>Tell me how your day was in one sentence.</h2>
  <form action='/robotPost' method='POST'>
    <input type='text' name='emotion'>
    <input type='submit' value='Submit'>
  </form>

  <a href='/popular'><button>Popular Playlists</button></a>
  <a href='/aboutUs'><button>About Us</button></a>
  <a href='/seeRobot'><button>See Neural Network</button></a>


  <a href="/auth/spotify">Login with Spotify</a>


</body>
</html>