<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hello! Welcome to our thing</h1>
  <h2>Can we access your webcam to determine your mood?</h2>
  <h2>how was your day in one sentance</h2>
  <form action='/robotPost' method='POST'>
    <input type='text' name='emotion'>
    <input type='submit' value='submit me'>
  </form>
  <a href='/popular'><button>To Popular Playlists</button></a>
  <a href='/aboutUs'><button>To About Us</button></a>
  <a href='/seeRobot'><button>See Neural Network</button></a>


  <a href="/auth/spotify">Login with Spotify</a>


</body>
</html>