<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
</head>
<body>
  <h1>here are your playlists</h1>
  <h2>emotion from robot is <%= emotions %></h2>
  <img src='https://via.placeholder.com/300'>
  <img src='https://via.placeholder.com/300'>
  <iframe src="https://open.spotify.com/embed/playlist/<%= playlist %>"" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <a href='/'><button>Back to Home</button></a>
</body>
</html>