<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
</head>
<body>
  <h1>welcome to the popuar playlists page</h1>
  <a href='/'><button>Back to Home</button></a>
</body>
</html>