<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/css/reset.css">
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/layout.css">
  <link rel="stylesheet" href="../styles/css/modules.css">
</head>
<body>
  <h1>Hello World, I am Robo</h1>
  <div id='d'><img src='https://austingwalters.com/wp-content/uploads/2019/01/rnn.png'></div>
  <h2 id='robo'><%= robotPrediction %></h2>
  <h2>get my spotify playlist</h2>
  <div id='robo_playlist'>
    <form action='/spotifyPlaylistResults' method='POST'>
      <input type='hidden' name='emotionFromRobot' id='roboIdentify' value='<%= formValue %>'>  <!--output from the robot goes here-->
      <input type='submit' value='Go to Mood Playlist'>
    </form>
    <a href='/'><button>Back to Home</button></a>
  </div>
  
</body>
</html>